.u-section-1 {background-image: url("images/isabellajuskovaxotmnyN3gdcunsplash.jpg")}
.u-section-1 .u-sheet-1 {min-height: 810px}
.u-section-1 .u-group-1 {width: 1101px; min-height: 349px; margin: 134px auto 60px}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-text-1 {font-family: "Ek Mukta"; font-weight: 400; font-size: 3rem; margin: 0}
.u-section-1 .u-text-2 {font-weight: 300; font-size: 1.5rem; margin: 92px 0 0}
.u-section-1 .u-btn-1 {background-image: none; margin: 63px auto 0} 

@media (max-width: 1199px){ .u-section-1 {background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 877px}
.u-section-1 .u-group-1 {width: 940px; min-height: 392px; height: auto}
.u-section-1 .u-text-1 {animation-duration: 1000ms; margin-left: 59px; margin-right: 59px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 709px}
.u-section-1 .u-group-1 {width: 720px}
.u-section-1 .u-text-1 {margin-left: 0; margin-right: 0} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 50vw}
.u-section-1 .u-group-1 {width: 540px; margin-top: 60px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-1 {font-size: 1.875rem; margin-left: 19px; margin-right: 19px}
.u-section-1 .u-text-2 {font-size: 1.25rem; margin-top: 58px}
.u-section-1 .u-btn-1 {margin-top: 58px} }

@media (max-width: 575px){ .u-section-1 {min-height: 242px}
.u-section-1 .u-sheet-1 {min-height: 697px}
.u-section-1 .u-group-1 {min-height: 548px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-text-1 {font-size: 1.5rem; margin-top: 29px; margin-left: 0; margin-right: 0; width: auto}
.u-section-1 .u-text-2 {margin-top: 51px}
.u-section-1 .u-btn-1 {margin-top: 51px} }.u-section-2 {margin-top: 0; margin-bottom: 0; background-image: none}
.u-section-2 .u-sheet-1 {min-height: 758px}
.u-section-2 .u-layout-wrap-1 {width: 1021px; margin: -111px 0 0 auto}
.u-section-2 .u-layout-cell-1 {min-height: 233px}
.u-section-2 .u-container-layout-1 {padding: 10px 30px}
.u-section-2 .u-layout-cell-2 {min-height: 478px}
.u-section-2 .u-container-layout-2 {padding: 30px 60px}
.u-section-2 .u-text-1 {font-size: 1.875rem; font-weight: 400; font-family: "Ek Mukta"; margin: 40px 0 0}
.u-section-2 .u-text-2 {font-size: 1rem; margin: 14px 0 0}
.u-section-2 .u-layout-cell-3 {min-height: 711px}
.u-section-2 .u-container-layout-3 {padding: 30px 60px}
.u-section-2 .u-shape-1 {width: 115px; height: 115px; background-image: linear-gradient(white, #8e9f94); margin: 0 auto 0 -101px}
.u-section-2 .u-shape-2 {width: 75px; height: 75px; background-image: linear-gradient(#9eb0a2, #556558); margin: 0 auto 0 -27px}
.u-section-2 .u-shape-3 {width: 53px; height: 53px; background-image: linear-gradient(#667e6b, #202a23); margin: 2px auto 0 -70px}
.u-section-2 .u-group-1 {width: 193px; min-height: 193px; margin: 75px 21px 0 auto}
.u-section-2 .u-container-layout-4 {padding: 30px}
.u-section-2 .u-shape-4 {height: 129px; width: 129px; background-image: linear-gradient(#e5e5e5, #9eb0a2); margin: 0 auto}
.u-section-2 .u-link-1 {text-transform: uppercase; font-weight: 600; margin: -77px auto 0}
.u-section-2 .u-shape-5 {width: 75px; height: 75px; background-image: linear-gradient(#e5e5e5, #9eb0a2); margin: -99px auto 0 64px}
.u-section-2 .u-shape-6 {width: 55px; height: 55px; background-image: linear-gradient(#bbc7bd, #556558); margin: 0 auto 0 40px}
.u-section-2 .u-shape-7 {width: 45px; height: 45px; background-image: linear-gradient(#556558, #202a23); margin: -15px auto 60px 95px} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 100px}
.u-section-2 .u-layout-wrap-1 {width: 940px; margin-top: -95px; margin-right: auto; margin-left: 40px}
.u-section-2 .u-layout-cell-1 {min-height: 214px}
.u-section-2 .u-layout-cell-2 {min-height: 440px}
.u-section-2 .u-layout-cell-3 {min-height: 655px; background-position: 50% 50%}
.u-section-2 .u-group-1 {height: auto}
.u-section-2 .u-shape-5 {margin-top: -136px; margin-left: 2px}
.u-section-2 .u-shape-6 {margin-top: 8px; margin-left: -23px}
.u-section-2 .u-shape-7 {margin-top: 0; margin-bottom: 59px; margin-left: 17px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 539px}
.u-section-2 .u-layout-wrap-1 {width: 720px; margin-top: 34px; margin-bottom: 43px; margin-left: 4px}
.u-section-2 .u-layout-cell-1 {min-height: 202px}
.u-section-2 .u-layout-cell-2 {min-height: 100px}
.u-section-2 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-2 .u-text-1 {font-size: 1.5rem; margin-top: 0}
.u-section-2 .u-text-2 {margin-top: 34px}
.u-section-2 .u-layout-cell-3 {min-height: 100px}
.u-section-2 .u-container-layout-3 {padding-left: 30px; padding-right: 30px}
.u-section-2 .u-group-1 {margin-top: 136px; margin-right: auto; margin-left: 0} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 632px}
.u-section-2 .u-layout-wrap-1 {margin-top: 113px; margin-bottom: 22px; margin-right: initial; margin-left: initial; width: auto}
.u-section-2 .u-layout-cell-1 {min-height: NaNpx}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-group-1 {margin-top: -111px; margin-right: 22px; margin-left: auto}
.u-section-2 .u-container-layout-4 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 827px}
.u-section-2 .u-layout-wrap-1 {margin-top: 115px; margin-bottom: 0; width: auto; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 160px}
.u-section-2 .u-layout-cell-2 {min-height: 503px}
.u-section-2 .u-text-1 {margin-left: 18px; margin-right: 18px}
.u-section-2 .u-text-2 {font-size: 0.875rem; margin-top: 15px; margin-left: 24px; margin-right: 24px}
.u-section-2 .u-layout-cell-3 {min-height: 219px}
.u-section-2 .u-group-1 {margin-top: -109px; margin-right: 0; margin-left: 127px} }.u-section-3 {background-image: url("images/vit.jpg"); margin-top: 0; margin-bottom: 0}
.u-section-3 .u-sheet-1 {min-height: 530px}
.u-section-3 .u-layout-wrap-1 {width: 1219px; margin: -104px auto 51px -79px}
.u-section-3 .u-layout-cell-1 {min-height: 614px}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-image-1 {width: 520px; height: 245px; margin: 209px -9px 0 auto}
.u-section-3 .u-layout-cell-2 {min-height: 105px}
.u-section-3 .u-container-layout-2 {padding: 10px 30px}
.u-section-3 .u-layout-cell-3 {min-height: 509px}
.u-section-3 .u-container-layout-3 {padding: 30px}
.u-section-3 .u-text-1 {font-size: 1.875rem; font-weight: 400; font-family: "Ek Mukta"; margin: 0 -39px 0 0}
.u-section-3 .u-text-2 {margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-3 {background-position: 50% 50%}
.u-section-3 .u-sheet-1 {min-height: 100px}
.u-section-3 .u-layout-wrap-1 {width: 940px; margin-top: -61px; margin-bottom: 8px; margin-left: 13px}
.u-section-3 .u-layout-cell-1 {min-height: 397px}
.u-section-3 .u-image-1 {width: 411px; height: 194px; margin-top: 151px; margin-right: 0; margin-left: -30px}
.u-section-3 .u-layout-cell-2 {min-height: 95px}
.u-section-3 .u-layout-cell-3 {min-height: 460px}
.u-section-3 .u-text-1 {margin-right: 0} }

@media (max-width: 991px){ .u-section-3 .u-layout-wrap-1 {width: 720px; margin-left: 0}
.u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-image-1 {margin-top: 142px}
.u-section-3 .u-layout-cell-2 {min-height: 128px}
.u-section-3 .u-layout-cell-3 {min-height: 100px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 765px}
.u-section-3 .u-layout-wrap-1 {width: 540px; margin-bottom: 60px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-layout-cell-2 {min-height: 96px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-text-1 {font-size: 1.5rem} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 100px}
.u-section-3 .u-layout-wrap-1 {width: 340px}
.u-section-3 .u-image-1 {height: 151px; margin-top: 170px; margin-right: initial; margin-left: initial; width: auto}
.u-section-3 .u-layout-cell-2 {min-height: 60px} }.u-section-4 {background-image: url("images/isabellajuskovaAJ5qS53tbaMunsplash.jpg"); margin-top: 0; margin-bottom: 0}
.u-section-4 .u-sheet-1 {min-height: 800px}
.u-section-4 .u-group-1 {width: 193px; min-height: 193px; margin: 105px 67px 0 auto}
.u-section-4 .u-container-layout-1 {padding: 30px}
.u-section-4 .u-shape-1 {height: 129px; width: 129px; background-image: linear-gradient(#e5e5e5, #9eb0a2); margin: 0 auto}
.u-section-4 .u-link-1 {text-transform: uppercase; font-weight: 600; margin: -77px auto 0}
.u-section-4 .u-group-2 {width: 169px; min-height: 198px; margin: -215px auto 0 122px}
.u-section-4 .u-container-layout-2 {padding: 30px}
.u-section-4 .u-shape-2 {height: 122px; width: 122px; background-image: linear-gradient(#e5e5e5, #9eb0a2); margin: 17px 23px 0 auto}
.u-section-4 .u-link-2 {text-transform: uppercase; font-weight: 600; margin: -74px 15px 0 auto}
.u-section-4 .u-group-3 {width: 243px; min-height: 237px; margin: 0 398px 0 auto}
.u-section-4 .u-container-layout-3 {padding: 30px}
.u-section-4 .u-shape-3 {height: 158px; width: 158px; background-image: linear-gradient(#c0c0c0, #667e6b); margin: 10px auto 0}
.u-section-4 .u-link-3 {text-transform: uppercase; font-weight: 600; margin: -104px auto 0}
.u-section-4 .u-group-4 {width: 230px; min-height: 230px; margin: -53px auto 0 0}
.u-section-4 .u-container-layout-4 {padding: 30px}
.u-section-4 .u-shape-4 {height: 148px; width: 148px; background-image: linear-gradient(#667e6b, #202a23); margin: 21px auto 0}
.u-section-4 .u-link-4 {text-transform: uppercase; font-weight: 600; margin: -86px auto 0}
.u-section-4 .u-group-5 {width: 214px; min-height: 215px; margin: -172px 37px 60px auto}
.u-section-4 .u-container-layout-5 {padding: 30px}
.u-section-4 .u-shape-5 {height: 141px; width: 141px; background-image: linear-gradient(#8da191, #202a23); margin: -4px auto 0 3px}
.u-section-4 .u-link-5 {font-size: 1rem; font-weight: 600; text-transform: uppercase; margin: -83px auto 0} 

@media (max-width: 1199px){ .u-section-4 {background-position: 50% 50%}
.u-section-4 .u-sheet-1 {min-height: 729px}
.u-section-4 .u-group-1 {height: auto; margin-top: 18px; margin-right: 46px}
.u-section-4 .u-group-2 {height: auto; margin-top: -124px; margin-left: 115px}
.u-section-4 .u-shape-2 {height: 108px; margin-top: 7px; margin-right: initial; margin-left: initial; width: auto}
.u-section-4 .u-link-2 {margin-top: -66px; margin-right: auto}
.u-section-4 .u-group-3 {height: auto; margin-top: -8px; margin-right: 328px}
.u-section-4 .u-group-4 {animation-duration: 1000ms; height: auto; margin-top: -95px; margin-left: 17px}
.u-section-4 .u-link-4 {font-weight: 700}
.u-section-4 .u-group-5 {height: auto; margin-top: -269px; margin-right: 17px}
.u-section-4 .u-shape-5 {margin-left: 11px}
.u-section-4 .u-link-5 {border-style: solid; margin-right: 22px} }

@media (max-width: 991px){ .u-section-4 {min-height: 506px}
.u-section-4 .u-sheet-1 {min-height: 558px}
.u-section-4 .u-link-1 {margin-top: -75px}
.u-section-4 .u-group-2 {margin-top: -169px; margin-left: 38px}
.u-section-4 .u-group-3 {margin-top: -62px; margin-right: auto; margin-left: 225px}
.u-section-4 .u-group-4 {margin-top: 4px}
.u-section-4 .u-link-4 {margin-top: -87px}
.u-section-4 .u-link-5 {width: 43px} }

@media (max-width: 767px){ .u-section-4 {min-height: 380px}
.u-section-4 .u-sheet-1 {min-height: 419px}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-link-1 {margin-top: -77px}
.u-section-4 .u-group-2 {margin-top: -95px; margin-left: 52px}
.u-section-4 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-shape-2 {height: 114px; width: 121px; margin-right: auto; margin-left: 0}
.u-section-4 .u-link-2 {margin-top: -69px; margin-left: 28px}
.u-section-4 .u-group-3 {width: 201px; margin-top: -83px; margin-right: 72px; margin-left: auto}
.u-section-4 .u-container-layout-3 {padding-right: 10px; padding-left: 25px}
.u-section-4 .u-group-4 {margin-top: -50px; margin-left: 11px}
.u-section-4 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-link-4 {margin-top: -86px}
.u-section-4 .u-group-5 {margin-top: -57px; margin-right: 46px}
.u-section-4 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-shape-5 {margin-left: auto}
.u-section-4 .u-link-5 {margin-right: auto} }

@media (max-width: 575px){ .u-section-4 {min-height: 239px}
.u-section-4 .u-sheet-1 {min-height: 264px}
.u-section-4 .u-group-1 {margin-top: 0; margin-right: 4px}
.u-section-4 .u-link-1 {margin-top: -75px}
.u-section-4 .u-group-2 {margin-top: -27px; margin-left: 20px}
.u-section-4 .u-shape-2 {height: 94px; width: 100px}
.u-section-4 .u-link-2 {margin-top: -59px; margin-left: 17px}
.u-section-4 .u-group-3 {margin-top: -71px; margin-right: 2px}
.u-section-4 .u-container-layout-3 {padding-left: 10px}
.u-section-4 .u-group-4 {width: 188px; margin-top: -51px; margin-left: 0}
.u-section-4 .u-group-5 {margin-top: -56px; margin-right: 0}
.u-section-4 .u-shape-5 {margin-right: 38px}
.u-section-4 .u-link-5 {margin-left: 35px} }.u-section-5 .u-sheet-1 {min-height: 35px}
.u-section-5 .u-text-1 {font-weight: 400; font-family: "Ek Mukta"; margin: 5px 20px} 

@media (max-width: 1199px){ .u-section-5 .u-text-1 {margin-left: 0; margin-right: 0} }
        .shrink:hover {
                -webkit-transform: scale(0.8);
                -ms-transform: scale(0.8);
                transform: scale(0.8);
        }
    