.u-section-1 {background-image: url("images/52e0d4414b50ab14f6da8c7dda79367d1d38d6ed5b586c4870287fd79348c45cb1_1280.jpg"); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 730px}
.u-section-1 .u-layout-wrap-1 {pointer-events: auto; width: 676px; margin: 86px auto 60px}
.u-section-1 .u-layout-cell-1 {min-height: 552px; pointer-events: auto}
.u-section-1 .u-container-layout-1 {padding: 30px 60px}
.u-section-1 .u-text-1 {font-size: 1.875rem; font-weight: 400; font-family: "Ek Mukta"; margin: -1px 0 0}
.u-section-1 .u-text-2 {font-size: 1.25rem; font-weight: 400; margin: 20px 0 0}
.u-section-1 .u-text-3 {font-size: 0.75rem; margin: 20px 0 0}
.u-section-1 .u-text-4 {font-size: 1.25rem; font-weight: 400; margin: 40px 0 0}
.u-section-1 .u-text-5 {font-size: 0.75rem; margin: 20px 0 0}
.u-section-1 .u-text-6 {font-size: 1.25rem; font-weight: 400; margin: 40px 0 0}
.u-section-1 .u-text-7 {font-size: 0.75rem; margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 100px}
.u-section-1 .u-layout-wrap-1 {min-height: 590px} }

@media (max-width: 991px){ .u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-container-layout-1 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-1 .u-layout-wrap-1 {width: 540px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 .u-layout-wrap-1 {width: 340px} }